/*----------------------------------------------------------------
# Header
------------------------------------------------------------------ */

@media (min-width: 1024px) {

  .navbar-nav .dropdown:hover .dropdown-menu,
  .navbar-nav .dropdown.sfHover .dropdown-menu {
    display: block;
  }

  #header .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 20px;
  }

  #header #logo img {
    max-height: 40px;
  }

  #header nav {
    padding: 0 0;
    min-width: 100%;
  }

  #header nav div {
    font-weight: 400;
    font-size: 15px;
  }

  #header .navbar-nav {
    background: black;
  }

  #header .navbar-nav .dropdown-menu {
    background: black;
  }

  #header .navbar-nav .dropdown-menu .dropdown-item {
    background: black;
    color: #fff;
  }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

@media (min-width: 768px) {

  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}