body {
  background: #f7f7f7;
}

#signUp .form .brand {
  font-size: 50px;
  font-weight: 700;
  color: #00a82d;
  text-decoration: none;
}

#signUp .form p {
  color: #000;
}

#signUp #login-link {
  margin-top: 40px;
}

#signUp #login-link p {
  text-align: center;
  margin: 10px;
}

.form {
  min-width: 398px;
  background: #fff;
  text-align: center;
  margin: auto;

  margin-top: 10vh;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.form input[type="submit"] {
  width: 100%;
  color: #fff;
  background: #18d26e;
}

.error {
  color: red;
  margin: 0;
}
