* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  transition: 0.5s;
}

.active a {
  color: #18d26e !important;
}

a:hover,
a:active,
a:focus {
  color: #18d26e !important;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*----------------------------------------------------------------
# Header
------------------------------------------------------------------ */
#header {
  padding: 10px 0;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo h1 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  padding-left: 10px;
  border-left: 5px solid #18d26e;
}

#header nav {
  padding-left: 60px;
  padding-right: 60px;
}

#header nav div {
  font-weight: 600;
  font-size: 18px;
}

#header nav div ul li {
  margin: 0 20px 0 0;
}

#header nav button {
  color: #fff;
}

/* ----------------------------------------------------------------
 # Prelaoder
 ----------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #18d26e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#intro {
  display: table;
  width: 100%;
  /* height: 100vh; */
  background: #000;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro #carousel-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff !important;
  background: #18d26e;
}

/* About Us Section
--------------------------------*/
#about {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 0 0 40px 0;
  position: relative;
}

#about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.94);
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
  border-radius: 6px 6px 0 0;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc(50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: #18d26e;
}

#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#about .about-col h2 a {
  color: #000;
}

#about .about-col h2 a:hover {
  color: #18d26e;
}

#about .about-col p {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/* Facts Section
--------------------------------*/
#facts {
  background: url("../img/facts-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 0 0 60px 0;
  position: relative;
}

#facts .section-header h3 {
  color: #fff;
}

#facts .section-header p {
  color: #fff;
}

#facts::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(30, 126, 52, 0.82);
  z-index: 9;
}

#facts .container {
  position: relative;
  z-index: 10;
}

#facts .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 40px;
  display: block;
  color: #fff;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
}

#facts .facts-img {
  text-align: center;
  padding-top: 30px;
}

#facts .row div:first-child span:before,
#facts .row div:nth-child(2) span:before,
#facts .row div:nth-child(3) span:before {
  content: "+";
}

/* Courses Section
--------------------------------*/
#course {
  padding: 0 0 40px 0;
  position: relative;
  background: #f7f7f7;
}

#course h4 {
  font-size: 32px;
  font-weight: 600;
  color: #1ab561;
}

#course p {
  font-size: 18px;
  color: black;
}

#course a {
  text-decoration: none;
}

#course .course-col {
  background: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border: solid 1px var(--grey);
}

#course .course-col:hover h3 {
  color: #1ab561;
  transition: 1s;
}

#course .course-highlight-item .course-highlight-img img {
  border-radius: 6px 6px 0 0;
}

#course .course-highlight-item h3 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 0 0 12px 0;
}

#course .course-highlight-item p {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

#course .course-category-view {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}

#course .course-category-view a {
  color: #111;
}

#course #cta-btn {
  color: #1ab561;
  font-weight: 600;
  text-align: center;
  padding: 0;
  line-height: 70px;
}

#course .course-col:hover #cta-btn {
  color: #fff;
  background: #1ab561;
  text-align: center;

  transition: all 1s;
}

#course .row .course-category {
  padding-top: 60px;
}

/* ======= Testimonials Section =======  */
#testimonials {
  padding-bottom: 60px;
}

#testimonials .testimonials-items .testimonials-details {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border: solid 1px var(--grey);
}

#testimonials .testimonials-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  z-index: 1;
  background: linear-gradient(#1a5793, rgb(104, 208, 224));
  border-radius: 10px;
}

#testimonials .testimonials-details .testimonials-content {
  text-align: center;
  padding: 40px 20px;
  position: relative;
  z-index: 10;
}

#testimonials .testimonials-details .testimonials-img {
  max-width: 60%;
  max-height: 60%;
  width: auto;
  height: auto;
  border-radius: 50%;
  border: 4px solid #fff;
}

#testimonials .testimonials-content h3 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#testimonials .testimonials-content p {
  color: #000;
  text-align: center;
  font-size: 18px;
  padding: 0;
  margin: 0 10px 0 10px;
}

/* ======= Call To Action Section ======= */

#call-to-action {
  background: url("/assets/img/call-to-action-bg.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

#call-to-action:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgb(0, 45, 114), rgba(0, 95, 184, 0.9));
}

#call-to-action .container {
  position: relative;
  z-index: 9;
}

#call-to-action h3 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}

#call-to-action p {
  color: #fff;
  font-size: 30px;
}

#call-to-action .cta-btn {
  color: #fff !important;
  text-decoration: none;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
}

#call-to-action .cta-btn:hover {
  background: #18d26e;
  border: 2px solid #18d26e;
}

/* ======= Contact Section ======= */

#contact {
  padding: 60px 0;
  background: #f7f7f7;
}

#contact .contact-info {
  text-align: center;
}

#contact .contact-info i {
  display: inline-block;
  font-size: 48px;
  color: #18d26e;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

#contact .form .btn-submit {
  text-align: center;
}

#contact .form .btn-submit button {
  color: #fff;
  background-color: #18d26e;
  border: none;
  padding: 10px 30px;
  transition: 0.5s;
  cursor: pointer;
}

#contact .form .btn-submit button:hover {
  background: #13a456;
}

/* Sections Courses Info
--------------------------------*/
#course-info {
  padding: 60px 0 0;
}
#course-info .course-banner {
  color: #fff;
  padding: 80px 60px;
  background-image: linear-gradient(90deg, rgb(0, 45, 114), rgb(0, 94, 184));
}

#course-info .cource-header h1 {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 20px;
  margin: 0;
}
#course-info .cource-header ul {
  list-style: none;
}
#course-info .cource-header ul li {
  margin-right: 10px;
}
#course-info .cource-header ul span {
  margin-right: 10px;
}
#course-info .cource-header ul li a {
  color: #fff;
  font-weight: 700;
}
#course-info .cource-header .cta-btn {
  color: #fff;
  font-weight: 600;
  margin-bottom: 16px;
  padding: 15px 10px;
  background: rgb(65, 143, 222);
}
#course-info .cource-header .cta-btn:hover {
  background-color: transparent;
  color: #fff !important;
  border: 1px solid #fff;
}
#course-content {
  padding: 0 0 40px 0;
  position: relative;
  background: #f7f7f7;
}
#course-content .content-col {
  background: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border: solid 1px var(--grey);
}

#course-content .course-col:hover h3 {
  color: #1ab561;
  transition: 1s;
}
#course-content .course-highlight-item {
  text-decoration: none;
}
#course-content .course-highlight-item .course-highlight-img img {
  border-radius: 6px 6px 0 0;
}

#course-content .course-highlight-item h3 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 12px 0 12px 0;
}

#course-content .course-highlight-item p {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 10px 20px 10px;
}

#course-content .course-category-view {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}

/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-top: 60px;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: black;
  font-size: 20px;
  font-weight: 50;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #18d26e;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #18d26e;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #18d26e;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #18d26e;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #18d26e;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  background: #18d26e;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 100;
}

.back-to-top i {
  color: #fff;
  padding-top: 10px;
}
